.headings {
  font-family: "Tomorrow", sans-serif;
  color: #ffffff;
  font-size: 60px;
  font-variant: normal;
  line-height: 22px;
  text-align: center;
}

.container {
  margin: 0 auto;
  min-width: 500px;
  width: 45%;
  text-align: left;
  color: #3b3b3b;
  font-weight: bold;
}

form {
  outline: 0;
  height: 55px;
  margin-top: 5%;
  border: none;
}

input[type="text"] {
  outline: 0;
  width: 94%;
  height: 53px;
  border: none;
  font-family: "Saira Condensed", sans-serif;
  font-size: 40px;
  font-variant: small-caps;
  font-weight: bold;
  padding-left: 15px;
}

.add {
  outline: 0;
  float: right;
  width: 5%;
  height: 55px;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
}

ul {
  padding: 0;
  text-align: left;
  list-style: none;
}

hr {
  border-bottom: 0;
  margin: 15px 0;
}

input[type="checkbox"] {
  width: 30px;
}

.remove {
  float: right;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

#datetime {
  text-align: right;
  font-style: italic;
  padding-right: 6;
}
